In [2]:
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl
import tensorflow as tf
from sqlalchemy import create_engine
from config import password

In [49]:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/SolarDB')

In [50]:
input_df = pd.read_sql_query('SELECT * FROM solar_data ;', engine)
input_df

,TIMESTAMP,Year,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind Speed,...,Wind Direction,Pressure,Relative Humidity,Precipitable Water,gInvVDCin_Avg,gArray_Tilt,rInvVDCin_Avg,rArray_Tilt,cInvVDCin_Avg,cArray_Tilt
0,2015-01-01 00:30:00,2015,1,1,0,30,0.0,0.0,0.0,1.6,...,254.0,1000.0,73.50,0.381,8.250,20,-1.333,10,21.00,5
1,2015-01-01 01:00:00,2015,1,1,1,0,0.0,0.0,0.0,1.6,...,242.9,1000.0,73.68,0.385,7.693,20,-1.650,10,20.99,5
2,2015-01-01 01:30:00,2015,1,1,1,30,0.0,0.0,0.0,1.6,...,242.9,1000.0,73.67,0.382,7.174,20,-1.200,10,21.03,5
3,2015-01-01 02:00:00,2015,1,1,2,0,0.0,0.0,0.0,1.7,...,235.4,1000.0,73.72,0.380,6.432,20,-1.600,10,20.96,5
4,2015-01-01 02:30:00,2015,1,1,2,30,0.0,0.0,0.0,1.7,...,235.4,1000.0,73.71,0.380,5.833,20,-1.067,10,21.11,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51198,2018-03-18 19:00:00,2018,3,18,19,0,0.0,0.0,0.0,0.8,...,289.0,999.0,0.70,55.840,6.617,20,-1.850,10,21.21,5
51199,2018-03-18 19:30:00,2018,3,18,19,30,0.0,0.0,0.0,0.9,...,283.0,999.0,0.70,57.400,2.117,20,-1.700,10,21.43,5
51200,2018-03-18 21:00:00,2018,3,18,21,0,0.0,0.0,0.0,1.1,...,266.0,998.0,0.60,63.000,2.818,20,-1.450,10,21.15,5
51201,2018-03-18 23:00:00,2018,3,18,23,0,0.0,0.0,0.0,1.3,...,283.0,998.0,0.70,73.570,3.357,20,-1.700,10,21.13,5
51202,2018-03-18 23:30:00,2018,3,18,23,30,0.0,0.0,0.0,1.3,...,291.0,998.0,0.70,75.160,3.374,20,-1.767,10,21.04,5

In [51]:
input_df.columns

Index(['TIMESTAMP', 'Year', 'Month', 'Day', 'Hour', 'Minute', 'GHI', 'DHI',
       'DNI', 'Wind Speed', 'Temperature', 'Cloud Type', 'Solar Zenith Angle',
       'Surface Albedo', 'Wind Direction', 'Pressure', 'Relative Humidity',
       'Precipitable Water', 'gInvVDCin_Avg', 'gArray_Tilt', 'rInvVDCin_Avg',
       'rArray_Tilt', 'cInvVDCin_Avg', 'cArray_Tilt'],
      dtype='object')

In [56]:
# Rename Columns
solar_df = input_df
solar_df.rename(columns={
    "gInvVDCin_Avg": "Ground_Voltage_Output", 
    "cInvVDCin_Avg": "Canopy_Voltage_Output",
    "rInvVDCin_Avg": 'Roof_Voltage_Output',
    "gArray_Tilt": 'Ground_Array_Tilt',
    'cArray_Tilt': 'Canopy_Array_Tilt',
    'rArray_Tilt': 'Roof_Array_Tilt',
    'Wind Speed': 'Wind_Speed', 
    'Cloud Type': 'Cloud_Type', 
    'Solar Zenith Angle': 'Solar_Zenith_Angle',
    'Surface Albedo': 'Surface_Albedo', 
    'Wind Direction': 'Wind_Direction', 
    'Relative Humidity': 'Relative_Humidity',
    'Precipitable Water': 'Precipitable_Water',
}, inplace=True)

#solar_df = solar_df.drop(['TIMESTAMP', 'Year'], axis=1)

solar_df.columns

Index(['TIMESTAMP', 'Year', 'Month', 'Day', 'Hour', 'Minute', 'GHI', 'DHI',
       'DNI', 'Wind_Speed', 'Temperature', 'Cloud_Type', 'Solar_Zenith_Angle',
       'Surface_Albedo', 'Wind_Direction', 'Pressure', 'Relative_Humidity',
       'Precipitable_Water', 'Ground_Voltage_Output', 'Ground_Array_Tilt',
       'Roof_Voltage_Output', 'Roof_Array_Tilt', 'Canopy_Voltage_Output',
       'Canopy_Array_Tilt'],
      dtype='object')

In [59]:
ground_output = solar_df[['TIMESTAMP', 'Ground_Array_Tilt', 'Ground_Voltage_Output']]
canopy_output = solar_df[['TIMESTAMP', 'Canopy_Array_Tilt', 'Canopy_Voltage_Output']]
roof_output = solar_df[['TIMESTAMP', 'Roof_Array_Tilt', 'Roof_Voltage_Output']]
weather_df = solar_df[[
    'TIMESTAMP', 'Year', 'Month', 'Day', 'Hour', 'Minute', 'GHI', 'DHI',
   'DNI', 'Wind_Speed', 'Temperature', 'Cloud_Type', 'Solar_Zenith_Angle',
   'Surface_Albedo', 'Wind_Direction', 'Pressure', 'Relative_Humidity',
   'Precipitable_Water'
]]

In [39]:
# Encode Cloud Types
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(solar_df.Cloud_Type.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(['Cloud_Type'])
encode_df.head()

,Cloud_Type_0.0,Cloud_Type_1.0,Cloud_Type_2.0,Cloud_Type_3.0,Cloud_Type_4.0,Cloud_Type_6.0,Cloud_Type_7.0,Cloud_Type_8.0,Cloud_Type_9.0
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
# Merge the two DataFrames together and drop the Country column
solar_df = solar_df.merge(encode_df,left_index=True,right_index=True).drop("Cloud_Type",1)
solar_df

,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind_Speed,Temperature,Solar_Zenith_Angle,...,Canopy_Array_Tilt,Cloud_Type_0.0,Cloud_Type_1.0,Cloud_Type_2.0,Cloud_Type_3.0,Cloud_Type_4.0,Cloud_Type_6.0,Cloud_Type_7.0,Cloud_Type_8.0,Cloud_Type_9.0
0,1,1,0,30,0.0,0.0,0.0,1.6,-3.0,163.45,...,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,1,0,0.0,0.0,0.0,1.6,-3.0,160.95,...,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1,1,30,0.0,0.0,0.0,1.6,-3.0,156.92,...,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,1,2,0,0.0,0.0,0.0,1.7,-3.0,152.03,...,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,1,2,30,0.0,0.0,0.0,1.7,-3.0,146.67,...,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51198,3,18,19,0,0.0,0.0,0.0,0.8,6.4,98.78,...,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51199,3,18,19,30,0.0,0.0,0.0,0.9,6.0,104.52,...,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51200,3,18,21,0,0.0,0.0,0.0,1.1,4.4,120.91,...,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51201,3,18,23,0,0.0,0.0,0.0,1.3,2.1,137.65,...,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51202,3,18,23,30,0.0,0.0,0.0,1.3,1.8,139.99,...,5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(solar_df)
scaled_data = scaler.transform(solar_df)
transformed_scaled_data = pd.DataFrame(scaled_data, columns=solar_df.columns)
transformed_scaled_data.head()

,Month,Day,Hour,Minute,GHI,DHI,DNI,Wind_Speed,Temperature,Solar_Zenith_Angle,...,Canopy_Array_Tilt,Cloud_Type_0.0,Cloud_Type_1.0,Cloud_Type_2.0,Cloud_Type_3.0,Cloud_Type_4.0,Cloud_Type_6.0,Cloud_Type_7.0,Cloud_Type_8.0,Cloud_Type_9.0
0,-1.409922,-1.664443,-1.664223,1.000098,-0.667855,-0.669169,-0.627588,-0.321189,-1.34089,1.993036,...,0.0,1.500122,-0.394977,-0.130082,-0.25905,-0.396924,-0.241559,-0.319735,-0.485933,-0.053475
1,-1.409922,-1.664443,-1.519798,-0.999902,-0.667855,-0.669169,-0.627588,-0.321189,-1.34089,1.924467,...,0.0,1.500122,-0.394977,-0.130082,-0.25905,-0.396924,-0.241559,-0.319735,-0.485933,-0.053475
2,-1.409922,-1.664443,-1.519798,1.000098,-0.667855,-0.669169,-0.627588,-0.321189,-1.34089,1.813933,...,0.0,1.500122,-0.394977,-0.130082,-0.25905,-0.396924,-0.241559,-0.319735,-0.485933,-0.053475
3,-1.409922,-1.664443,-1.375373,-0.999902,-0.667855,-0.669169,-0.627588,-0.242116,-1.34089,1.679812,...,0.0,1.500122,-0.394977,-0.130082,-0.25905,-0.396924,-0.241559,-0.319735,-0.485933,-0.053475
4,-1.409922,-1.664443,-1.375373,1.000098,-0.667855,-0.669169,-0.627588,-0.242116,-1.34089,1.532800,...,0.0,1.500122,-0.394977,-0.130082,-0.25905,-0.396924,-0.241559,-0.319735,-0.485933,-0.053475